<div *ngIf="participant" class="row">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ participant.nom }}</h2>
    <form (ngSubmit)="miseAjourRegion()" [formGroup]="participantForm">
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          formControlName="nom"
          [(ngModel)]="participant.nom"
        />
      </div>
      <button type="submit" class="btn btn-outline-primary">Mise a jour</button>
      <p>{{ success }}</p>
    </form>
  </div>
</div>
<h4 *ngIf="!participant" class="center">Aucun participant à afficher !</h4>
<br />
<a routerLink="/participant_formulaire" class="btn btn-outline-danger"
  >Retourner a la liste des particpants</a
>
